CREATE DATABASE [QuanLySach]
GO 
USE [QuanLySach]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](500) NULL,
	[CongTy] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SoDienThoai] [nvarchar](16) NULL,
	[Banner1] [nvarchar](500) NULL,
	[Banner2] [nvarchar](500) NULL,
	[Banner3] [nvarchar](500) NULL,
	[Banner4] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
 CONSTRAINT [PK_CauHinh] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [numeric](18, 2) NULL,
 CONSTRAINT [PK_ChiTietDonHang_1] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMuc]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMuc](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[Mota] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChuyenMuc] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayDatHang] [date] NULL,
	[PhiGiao] [numeric](18, 2) NULL,
	[TenNguoiNhan] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](16) NULL,
	[Email] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DonHang_1] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](16) NULL,
	[Email] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[GioiTinh] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](16) NULL,
	[Email] [nvarchar](500) NULL,
	[TenDangNhap] [nvarchar](500) NULL,
	[MatKhau] [nvarchar](500) NULL,
	[Anh] [nvarchar](500) NULL,
	[Quyen] [nvarchar](500) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[Mota] [nvarchar](500) NULL,
	[MaLoai] [int] NOT NULL,
	[Anh] [nvarchar](500) NULL,
	[Chitiet] [ntext] NULL,
	[TieuBieu] [int] NULL,
	[Gia] [numeric](18, 2) NULL,
	[TacGia] [nvarchar](50) NULL,
	[NhaXuatBan] [nvarchar](500) NULL,
	[NamXB] [date] NULL,
	[GiamGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 6/7/2022 5:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[MoTa] [ntext] NULL,
	[Anh] [nvarchar](500) NULL,
	[MaCM] [int] NOT NULL,
	[NgayDang] [date] NULL,
	[TacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (11, 9, 1, CAST(120000.00 AS Numeric(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (12, 16, 1, CAST(150000.00 AS Numeric(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (13, 2, 1, CAST(150000.00 AS Numeric(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ChuyenMuc] ON 

INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota]) VALUES (4, N'Thể thao', N'Thể thao')
INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota]) VALUES (5, N'Du lịch', N'Du lịch')
INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota]) VALUES (6, N'Thời sự', N'Thời sự')
SET IDENTITY_INSERT [dbo].[ChuyenMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([Ma], [MaKhachHang], [NgayDatHang], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (11, 1, CAST(N'2022-04-20' AS Date), CAST(0.00 AS Numeric(18, 2)), N'Thavisap', N'Nam Định', N'0987654321', N'thavisap@gmail.com', 0)
INSERT [dbo].[DonHang] ([Ma], [MaKhachHang], [NgayDatHang], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (12, 8, CAST(N'2022-05-26' AS Date), CAST(0.00 AS Numeric(18, 2)), N'akhom', N'Nam Dinh', N'0922222222', N'akhom@gmail.com', 1)
INSERT [dbo].[DonHang] ([Ma], [MaKhachHang], [NgayDatHang], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (13, 9, CAST(N'2022-05-26' AS Date), CAST(0.00 AS Numeric(18, 2)), N'akhom', N'Nam Dinh', N'0933333333', N'akhom123@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([Ma], [Ten], [DiaChi], [DienThoai], [Email], [Password]) VALUES (1, N'Thavisap', N'Nam Định', N'0987654321', N'thavisap@gmail.com', N'123456789')
INSERT [dbo].[KhachHang] ([Ma], [Ten], [DiaChi], [DienThoai], [Email], [Password]) VALUES (8, N'akhom', N'Nam Dinh', N'0922222222', N'akhom@gmail.com', N'123456789')
INSERT [dbo].[KhachHang] ([Ma], [Ten], [DiaChi], [DienThoai], [Email], [Password]) VALUES (9, N'akhom', N'Nam Dinh', N'0933333333', N'akhom123@gmail.com', N'123456789')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([Ma], [Ten], [MoTa]) VALUES (2, N'Tiểu thuyết', N'Tiểu thuyết')
INSERT [dbo].[LoaiSP] ([Ma], [Ten], [MoTa]) VALUES (3, N'Trinh thám', N'Trinh thám')
INSERT [dbo].[LoaiSP] ([Ma], [Ten], [MoTa]) VALUES (4, N'Lãng mạn', N'Lãng mạn')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Ma], [Ten], [GioiTinh], [DiaChi], [DienThoai], [Email], [TenDangNhap], [MatKhau], [Anh], [Quyen]) VALUES (1, N'Thavisap', N'nam', N'Nam Định', N'0987654321', N'Thavisap@gmail.com', N'admin', N'25f9e794323b453885f5181f1b624d0b', N'/Areas/Admin/Asset/ckfinder/core/connector/aspx/~Areas/Admin/upload/images/anh1.jpg', N'admin')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([Ma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([Ma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([Ma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([Ma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_ChuyenMuc] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMuc] ([Ma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_ChuyenMuc]
GO
